<mat-card-content>
    <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
        <table>
            <tr>
                <td>
                    <input type="hidden" value="person._id" id="personId" name="personId" />
                    <mat-form-field>
                        <input id="FirstName" name="FirstName" formControlName="FirstName" matInput placeholder="First Name">
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!regiForm.get('FirstName').valid && regiForm.get('FirstName').touched">Please enter
                            First Name !!!</span>
                    </mat-error>
                </td>
                <td>
                    <mat-form-field class="demo-full-width">
                        <input id="LastName" name="LastName" formControlName="LastName" matInput placeholder="Last Name">
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!regiForm.get('LastName').valid && regiForm.get('LastName').touched">Please enter
                            Last Name !!!</span>
                    </mat-error>
                </td>
                <td>
                    <button id="submitBtn" type="submit" [disabled]="!regiForm.valid" mat-raised-button color="primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    <table border="0">
        <tr *ngFor="let person of people">
            <td>
               {{person._id}}
            </td>
            <td>
                {{person.firstname}}
            </td>
            <td>
                {{person.lastname}}
            </td>
            <td>
                <button mat-raised-button color="primary" (click)="onUpdatePerson(person._id)">Edit</button>
            </td>
            <td>
                <button mat-raised-button color="warn" (click)="onDeletePerson(person._id)"> Delete </button>
            </td>
        </tr>
    </table> 